@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

input {
  color: black
}


:root{
  --link-color: #1543f6;
  --link-hover: #5475fa;
  --main-color: #986FCA;
  --text-acent-color: #775aa4;
  --background-color: #111827;
}